@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 100vh;
    padding-left: 15%;
    padding-right: 15%;
    background-color: darkslategrey;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    gap: 0px;
}


.sidebar img {
    width: 350px;
    height: 100vh;
}

.sidebar {
    position: relative;
}

.overlay {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    /* background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi");
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi"); */
}

.overlay h1{
   text-align: center;
   color: white;
   padding-top: 8px;
   font-family: 'Inter', sans-serif;
}

.content {
    padding: 25px;
    display: grid;
    align-content: center;
    background-color: white;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    gap: 20px;
    background-color: white;
}

.content p {
    padding-right: 70px;
}

.form-section h2 {
    font-size: inherit;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.content-top {
    margin-bottom: 20px;
}

.inputs label{
    font-size: 8px;
    letter-spacing: 0.25rem;
}

section {
    margin-bottom: 25px;
    background-color: white;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

